---
name: build-base
on:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-awesomewm.yml'
      - '.github/workflows/build.yml'
      - 'build/base/*'
      - '!**/*.md'
  schedule:
    - cron: '05 21 * * 1'  # 2:05pm MT Mondays
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-awesomewm.yml'
      - '.github/workflows/build.yml'
      - 'build/base/*'
      - '!**/*.md'
  workflow_dispatch:

jobs:
  build_base:
    name: Build and push image
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: ./.github/workflows/build.yml
    with:
      permutation: "base"
      image_name: "${{ github.event.repository.name }}"

